!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    script(src='js/libs/modernizr.js')
    script(src='/socket.io/socket.io.js')
    script(src='js/app.js')
  body!= body