body{background-color:#ccc;padding-top:50px;text-align:center}
p{font-size:24px;text-shadow:#fff 1px 1px 1px}
h1{font-size:48px;font-family:'Berkshire Swash',cursive;text-shadow:#fff 0 0 16px,#fff 0 0 8px,#fff 0 0 4px}
